.register-container {
  display: flex;
  height: 100vh;
  position: relative;
  padding: 0;
  margin: 0;
}

/* Main */
.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-top: 80px;
  padding-left: 20px;
}

.main h2 {
  margin-bottom: 1rem;
}

.main p {
  margin-bottom: 2rem;
}

/* Container dos formulários */
.form-container {
  width: 100%;
  max-width: 1000px;
  background-color: white;
  padding: 20px 20px 20px 0;
  text-align: left;
}

/* Alinha os formulários lado a lado */
.login-cadastro {
  display: flex;
  justify-content: flex-start;
  gap: 15rem;
}

.test1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 15rem;
}

.test2 h2 {
  margin-bottom: 2rem;
}

/* Estilo das opções de seleção */
.container-option {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-left: 11rem;
  margin-top: 5rem;
}

.option {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 400px;
  margin-bottom: 10px;
  justify-content: flex-start;
}

input[type="radio"] {
  margin-right: 10px;
  transform: scale(1.5);
}

label {
  font-size: larger;
}

/* Botão Próximo */
.button-login {
  display: flex;
  justify-content: flex-end;
  margin-top: 5.50rem;
}

.button-wrapper button {
  width: 23rem;
  margin-top: 14.5rem;
}

/* Container do cabeçalho */
.header-container {
  position: fixed;
  top: 7rem;
  left: 5rem;
  right: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  z-index: 10;
}

/* Link "Voltar para a home" */
.top-left {
  text-decoration: none;
  color: #000;
  font-size: 1rem;
  display: inline-flex;
  align-items: center;
}

/* Botão "Entrar" */
.top-right {
  top: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  font-size: 1rem;
}

.top-right p{
  margin: 0;
}

.top-right a.Login-button {
  margin-left: 5px;
  color: #273330;
  text-decoration: none;
  border: 1px solid #273330;
  padding: 0.5rem 1rem; 
  border-radius: 5px;
  font-weight: bold;
}

.top-right a.Login-button:hover {
  background-color: #273330;
  color: #fff;
}

.labelError {
  align-self: flex-start;
  color: red;
}