.register-container {
  display: flex;
  height: 100vh;
  position: relative;
}

/* Main */
.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 80px; 
}

.main h2 {
  margin-bottom: 1rem; 
}

.main p {
  margin-bottom: 2rem; 
}

/* Container dos formulários */
.form-container {
  width: 100%;
  max-width: 900px;
  background-color: white;
  padding: 30px;
  text-align: center;
}

/* Alinha os formulários lado a lado */
.login-cadastro {
  display: flex;
  justify-content: space-between;
  gap: 10rem;
}

.test1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.test2 h2{
  margin-bottom: 5rem;
}

/* Estilo das opções de seleção */
.container-option {
  display: flex;
  flex-direction: column;
  gap: 1rem; 
  margin-left: 10rem;
}

.option {
  display: flex; 
  align-items: center; 
  width: 100%; 
  max-width: 400px; 
  margin-bottom: 10px; 
  justify-content: flex-start;
}

input[type="radio"] {
  margin-right: 10px;
  transform: scale(1.5);
}

label {
  font-size: larger;
}

/* Botão Próximo */
.button-login {
  display: flex;
  justify-content: flex-end;
  margin-top: 5.50rem;
}

.button-wrapper button {
  width: 23rem;
  margin-top: 14.5rem;
}

/* Link "Voltar para a home" */
.top-left {
  position: fixed;
  top: 100px;
  left: 10rem;
  text-decoration: none;
  color: #000;
  font-size: 1rem;
  display: inline-flex;
  align-items: center;
  z-index: 10;
}