/* Step.css */
.stepContainer {
  display: flex;
  flex-direction: column;
  gap: 1.88rem;
  justify-content: center;
  padding: 2rem 0;
  isolation: isolate;
}

.step {
  display: flex;
  align-items: center;
  position: relative;
}

.circle {
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.4s ease-in-out;
}

.circle.active {
  background-color: transparent;
  border: 2px solid white;
}

.circle.active::before {
  content: '';
  width: 12px;
  height: 12px;
  background-color: white;
  border-radius: 50%;
}

.circle.completed {
  border-color: #0C6F70;
}

.circle.completed .check-icon {
  color: #0C6F70;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.stepContainer .step:not(:last-child) .circle::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  height: 33px;
  width: 2px;
  background-color: white;
  z-index: -1;
  transform: translateX(-50%);
}

.step-number {
  margin-left: 10px;
  color: white;
  font-size: 16px;
}

/* Responsividade */
@media (max-width: 1024px) {
  .stepContainer {
    flex-direction: row;
    gap: 1rem;
    padding: 1rem 0;
  }

  .step {
    flex-direction: column;
    align-items: center;
  }

  .stepContainer .step:not(:last-child) .circle::after {
    left: 100%;
    top: 50%;
    width: 33px;
    height: 2px;
    transform: translateY(-50%);
  }

  .circle {
    width: 40px;
    height: 40px;
  }

  .step-number {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .stepContainer {
    gap: 1rem;
    padding: 1rem 0;
  }

  .circle {
    width: 40px;
    height: 40px;
  }

  .step-number {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .step-number {
    font-size: 12px;
  }
}
