
/* Container central */
.form-container {
  width: 100%;
  max-width: 900px;
  background-color: white;
  padding: 30px;
  text-align: center;
}

/* Garante que os campos fiquem um abaixo do outro */
.grid-container.single-column {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* Alinha os formulários lado a lado */
.forms-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

/* Cada formulário */
.form-wrapper {
  flex: 1;
  background-color: #fff;
  padding: 20px;
}

/* Deixa os inputs do formulário de Contato um abaixo do outro */
.contact-form .grid-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}


/* Container para o input com ícone */
.input-icon-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

/* Ícone fora da borda do input */
.input-icon-wrapper .icon {
  position: absolute;
  left: -30px; /* Ajuste conforme necessário */
  color: #333;
  font-size: 25px;
}

/* Input ajustado */
.input-icon-wrapper input {
  width: 100%;
  padding-left: 10px; /* Reduz espaço interno do input */
  box-sizing: border-box;
}

/* Grid dos inputs */
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

/* Labels e inputs */
.form-group {
  display: flex;
  flex-direction: column;
}

.form-group input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

/* Campo que ocupa toda a largura */
.full-width {
  grid-column: span 2;
}



