.sidebar {
  flex: 0 0 30%;
  max-width: 450px;
  background: 
  linear-gradient(
    0deg,
  #415C55 0%,
  #41AC8F 49%,
  #273330 100%
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}