.sidebar {
  background: 
    linear-gradient(
      180deg, 
      #415C55 0%, 
      #41AC8F 48.52%, 
      #273330 100%
    ),
    url('../../img/Technexus-02.svg'); 
  width: 250px;
  height: 100vh;
  background-color: #f4f4f4;
  padding: 20px;
}

.logo{
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Text-Principal {
  color: #DBD8D8;
  font-size: 25px;
  font-weight: 900;
  line-height: 46px; 
  display: flex;
  justify-content: center;
  text-align: left;
  width: 274px;
  height: 157px;
  flex-shrink: 0;
  margin: 0; /* Remover qualquer margem externa */
}
